/* Juan Pablo Canedo(349963) y Franco Cardozo(456912) */

header {
	text-align: center;
}

nav {
	margin-bottom: 0.5rem;
}

section {
	background-color: #d5f4d4;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

article {
	background-color: #00ff7f;
	padding: 0.5rem;
	border-radius: 1rem;
	margin-bottom: 0.5rem;
}
input, label, select {
	display: block;
}

.radio_container>input, .radio_container>label {
	display: inline;
}

footer {
	text-align: center;
	background-color: #f0f4d4;
	padding: 2rem;
	border-radius: 1rem;
	font-size: 13px;
	font-weight: 500;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}